[Unit]
Description=First Boot Provisioning
After=local-fs.target systemd-user-sessions.service
Before=display-manager.service
ConditionPathExists=!/var/lib/first-boot-provisioned

[Service]
Type=oneshot
ExecStart=/usr/libexec/first-boot-provision.sh
ExecStartPost=systemctl disable first-boot-provision.service
ExecStartPost=rm -f /etc/systemd/system/first-boot-provision.service
ExecStartPost=/usr/bin/systemctl reboot
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
RequiredBy=display-manager.service
